
.vs/NumberGuessingGame/CopilotIndices/17.12.31.40377/CodeChunks.db
.vs/NumberGuessingGame/CopilotIndices/17.12.31.40377/CodeChunks.db-shm
.vs/NumberGuessingGame/CopilotIndices/17.12.31.40377/CodeChunks.db-wal
.vs/NumberGuessingGame/CopilotIndices/17.12.31.40377/SemanticSymbols.db
.vs/NumberGuessingGame/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
.vs/NumberGuessingGame/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
.vs/NumberGuessingGame/FileContentIndex/e829444b-128f-48c5-b9c3-659b2e5816ac.vsidx
.vs/NumberGuessingGame/v17/.suo
.vs/NumberGuessingGame/v17/DocumentLayout.backup.json
.vs/NumberGuessingGame/v17/DocumentLayout.json
.vs/NumberGuessingGame/FileContentIndex/eee78e70-886c-4417-9ca7-8df8df0def45.vsidx
.vs/NumberGuessingGame/DesignTimeBuild/.dtbcache.v2
.vs/NumberGuessingGame/FileContentIndex/135934f0-7ce0-4510-a7d3-f82d4fca29f5.vsidx
.vs/NumberGuessingGame/FileContentIndex/e04922c2-cef6-4a2e-bc93-dcc21e632900.vsidx
.vs/NumberGuessingGame/v17/.futdcache.v2
.vs/ProjectEvaluation/numberguessinggame.metadata.v9.bin
.vs/ProjectEvaluation/numberguessinggame.projects.v9.bin
.vs/ProjectEvaluation/numberguessinggame.strings.v9.bin
.vs/NumberGuessingGame/FileContentIndex/3121ba5a-465d-4023-a681-0eef9a7c003c.vsidx
.vs/NumberGuessingGame/FileContentIndex/5c9c9f72-113c-4456-84b9-d2a35852a7c5.vsidx
