
.vs/NumberGuessingGame/CopilotIndices/17.12.31.40377/CodeChunks.db
.vs/NumberGuessingGame/CopilotIndices/17.12.31.40377/CodeChunks.db-shm
.vs/NumberGuessingGame/CopilotIndices/17.12.31.40377/CodeChunks.db-wal
.vs/NumberGuessingGame/CopilotIndices/17.12.31.40377/SemanticSymbols.db
.vs/NumberGuessingGame/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
.vs/NumberGuessingGame/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
.vs/NumberGuessingGame/FileContentIndex/e829444b-128f-48c5-b9c3-659b2e5816ac.vsidx
.vs/NumberGuessingGame/v17/.suo
.vs/NumberGuessingGame/v17/DocumentLayout.backup.json
.vs/NumberGuessingGame/v17/DocumentLayout.json
